body {
    background: #22223B;
    color: #F2E9E4;
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
    background-size: cover;
}

.main {
    width: 14em;
    padding: 3em;
    margin: auto;
    background-color: transparent;
    border-radius: 1em;
}

.temperature {
    background-color: #9A8C98;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
}

p {
    margin: 0;
}

.units {
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

span {
    margin: auto;
}

input {
    border-radius: 0.5em;
    background-color: transparent;
    border: 1px solid #F2E9E4;
    color: #F2E9E4;
    text-align: center;
}

input:hover {
    border-radius: 0.5em;
    background-color: transparent;
    border: 1px solid #F2E9E4;
}

input:focus {
    border-radius: 0.5em;
    background-color: transparent;
    border: 1px solid #F2E9E4;
    outline: none;
    color: #F2E9E4;
    text-align: center;
}